.col-md-3{
    background-color: white;
}
body{
    background: #636666;
}
.col_name h3{
    font-weight: 650;
}
.container{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.col_name{
    color: black;
}
.col_designation{
    color: #64ae9e
}
.contact_feild .col-md-2{
    border-right: 1px solid #64ae9e;
}
.profilephoto{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
}
.profilephoto img{
    max-width: 100%;
}
ul{
    list-style: none;
    display: inline-flex;
    width: 100%;
    margin: 0 auto;
}
li{
    width: 20%;
    text-align: center;
}
.figure img{
    width: 30px;
}
.progress{
    height: 5px;
    text-align: center;
    margin-top: 10px;
}
.progress-bar{
    background-color: #64ae9e;
}
.card-body{
    padding-top: 60px;
    background-color: #373737;
}
.card{
    background-color: #373737;
    border: none;
    padding-top: 20px;
    padding-bottom: 45px;
}
h3{
    font-family: Arial, Helvetica, sans-serif
}
.profiledetails{
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
    margin-top: -40px;
}
.material-icons.phone { 
    color: #64ae9e;
}
.material-icons.email{
    color: #64ae9e;
}
.material-icons.whatsapp{
    color: #64ae9e;
}
.material-icons.house{
    color: #64ae9e;
}
.bi.bi-facebook{
    font-size: 32px;
}
.bi.bi-instagram{
    font-size: 32px;
}
.bi.bi-twitter{
    font-size: 32px;
}
.bi.bi-skype{
    font-size: 32px;
}
.bi.bi-film{
    font-size: 32px;
    color: #64ae9e;
}
.bi.bi-file-earmark-music-fill{
    font-size: 32px;
    color: #64ae9e;
}
.bi.bi-book-half{
    font-size: 32px;
    color: #64ae9e; 
}
.bi.bi-bicycle{
    font-size: 32px;
    color: #64ae9e; 
}
.bi.bi-controller{
    font-size: 32px;
    color: #64ae9e; 
}
.material-icons.colour{
    color: #64ae9e;
    width: 30px;
}
.qualification{
    border-left: 1px solid #64ae9e; 
    padding-left: 50px;
}
.job_title{
    border-left: 1px solid #64ae9e;
    padding-left: 50px
}
@media screen and (max-width:768px) and (min-width:320px){
    .profilephoto{
        clip-path: circle(48.6% at 50% 50%);
    }
    .profiledetails{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        margin-top: 0px;
    }
    .col-md-3{
        background-color: #373737;
    }
    .qualification{
        border-left: none; 
        padding-left: 0px;
    }
    .job_title{
        border-left:none; 
        padding-left: 0px; 
    }
    ul{
        list-style: none;
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;
    }
    li{
        float: left;
        width: 33.33%;
    }
    .contact_feild .col-md-2{
        border-right:none;
    }
}
@media screen and (min-width:768px) and (max-width:992px) {
    .profiledetails{
        clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 100%);
        margin-top: -20px;
    }
    .profilephoto{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 83%);
    }
}
@media screen and (min-width:992px) and (max-width:1024px){
    .profiledetails{
        clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 100%);
        margin-top: -30px;
    }
    .profilephoto{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 83%);
    }
}
@media screen and (min-width:1024px) and (max-width:1366px){
    .profiledetails{
        clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 100%);
        margin-top: -30px;
    }
    .profilephoto{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 83%);
    }
}
@media screen and (min-width:1366px) and (max-width:2560px){
    .profiledetails{
        clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 100%);
        margin-top: -40px;
    }
    .profilephoto{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 83%);
    }
}
@media screen and (max-width:320px){
    .profilephoto{
        clip-path: circle(48.6% at 50% 50%);
    }
    .profiledetails{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        margin-top: 0px;
    }
    .col-md-3{
        background-color: #373737;
    }
    .qualification{
        border-left: none;
        padding-left: 0px; 
    }
    .job_title{
        border-left:none;
        padding-left: 0px;  
    }
    ul{
        text-decoration: none;
    }
}
